body{
    background-color: #4B3D6D;
    }

H1{
    color: #D8D9D0;
}

H2{
    color: #D8D9D0;
}

H3{
    color: #D8D9D0
}

H5{
    color: #D8D9D0
}

P{
    color: #D8D9D0
}

A{
    color: #E57474;
}

.card{
    background-color: #C44A6E;
}